@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;600&display=swap');
:root{
    --mainTextColor:#52565b;
    --primary: #2977c9;
    --primaryHover:#006097;
    --dark: rgb(0 0 0 / 60%); 
    --darkHover:rgb(0 0 0 / 90%);
    --light: #eefdfc; 
    --textColor:#8f5849;
}
body {
    margin: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--mainTextColor);
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: var(--dark);
}
#section_1{
    background-color: #dfe5ec;
}
.Exclamation_Style{
    font-size: 5rem!important;
    font-weight: 900;
}
.img-center{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.Width_Owner_img{
	width: 100%;
}
.About_Me_Padding_Top_And_Down{
	padding-top: 8rem!important;
	padding-bottom: 8rem!important;
}
.Height_Categories{
	height: 400px;
}
.Categories_Title{
	color: white;
	padding-top: 30px;
}
.Text_Left{
	text-align: left;
}
.text-primary {
    color: var(--primary) !important;
}
a{
color: var(--mainTextColor);
font-weight: 600;
font-size: 14px;
}
a:hover{
	color: var(--dark);
}

.form-check-input[type=checkbox]:checked {
    background-image: none;
    background-color: var(--primary);
}

.form-check-input:checked {
    border-color:  var(--primary);
}

.form-check-input[type=checkbox]:checked:focus {
    background-color: var(--primary);
}
.form-check-input:checked:focus {
    border-color: var(--primary);
}
.form-outline .form-control:focus~.form-label {
    color: var(--primary);
}
.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: var(--primary)!important;
    -webkit-box-shadow: inset 0 0 0 1px var(--primary)!important;
    box-shadow: inset 0 0 0 1px var(--primary)!important;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: var(--primary)!important;
}
.Logo-Text{
	font-weight: 700;
    color: var(--dark);
    font-size: 30px;
}
.list-group-item.active{
	background-color: var(--primary);
    border-color: var(--primary);
}

/********** Template CSS **********/

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 600;
    transition: .5s;

    color: #FFFFFF;
    background-color: var(--primary);
    border-radius: 0px;
}

.btn {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 600;
    transition: .5s;
    font-size: 15px;
}
.adminBtn{
    font-size: .75rem;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
    background-color: var(--primary);
    border-radius: 0px;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}


/************* Navbar Start *****************/
.brand_Img{
width: 11%;
}
/************* Navbar End *****************/


/*** Header carousel ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(https://images.unsplash.com/photo-1633061273960-9c33bf7cc0c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}


/*** Service ***/
.service-item {
    background: var(--light);
    transition: .5s;
}

.service-item:hover {
    margin-top: -10px;
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}


/*** Categories & Courses ***/
.category img,
.course-item img {
    transition: .5s;
}

.category a:hover img,
.course-item:hover img {
    transform: scale(1.1);
}


/*** Team ***/
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}

/* icons-header slider arrows Start*/
.bi-chevron-left::before {
    content: "\f284";
}
.bi-chevron-right::before {
    content: "\f285";
}
[class^="bi-"]::before, [class*=" bi-"]::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*, *::before, *::after {
    box-sizing: border-box;
}
/* icons-header slider arrows End*/


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}
.bg-dark{
    background-color: var(--dark)!important;
}

/**** extra code ****/
/**** authenticator page ***/
.Blue-Color{
    color:var(--primary);
}
.Blue-Color:hover{
    color:#4f4f4f;
}

/* videos page start */
.video_container{
    width: 100%;
    height: 400px;
}
/* videos page end */

/* About US  Start*/
.aboutUs_img{
    border-top-right-radius: 12px;
    border-top-left-radius: 89px;
}
.expertInstructor_img{
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
}
/* About Us End*/
/**contact us start*/
.bg-primary{
    background-color: var(--primary)!important;
}
/**contact us end*/

/* WhatsApp icon start */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
    left:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover{
    color:white;
}

.my-float{
	margin-top:16px;
}


/* coverimage index page start */

/* coverimage index page end */

/* index navbar index start */
.mr-0\.5 {
    margin-right: 4px;
}
.after\:up-down-divider::after {
    display: flex;
    height: 100%;
    width: 1px;
    align-items: center;
    background-color: rgb(190, 190, 190);
    text-align: center;
    --tw-content: "";
    content: var(--tw-content);
}
.after\:\!h-\[37px\]::after {
    content: var(--tw-content);
    height: 37px !important;
    margin: 0px 0px 0px 18px;
}
.WebsiteName{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 19px;
}
.items-center {
    align-items: center;
}
.flex-col {
    flex-direction: column;
}
.w-\[80px\] {
    width: 90px;
}
.h-\[52px\] {
    height: 52px;
}
.lazy-loaded {
    opacity: 1;
}
.flex-shrink-0 {
    flex-shrink: 0;
}
.w-3 {
    width: 24px;
}
.h-3 {
    height: 24px;
}
.flex {
    display: flex;
}
.leading-regular {
    line-height: 1.25;
}
.font-regular {
    font-weight: 400;
}
.text-sm {
    font-size: 14px;
}
.break-all {
    word-break: break-all;
}
span{
    outline: 0;
}
.gap-x-1 {
    column-gap: 8px;
}
.justify-end {
    justify-content: flex-end;
}
.flex-nowrap {
    flex-wrap: nowrap;
}
.flex-shrink-0 {
    flex-shrink: 0;
}
.min-w-\[100px\] {
    min-width: 100px;
}
.order-3 {
    order: 3;
}
        /* join now btn start */
        .btn-tertiary, .btn-tertiary:visited, .btn-tertiary:focus {
            box-shadow: 0 0 0 1px var(--color-button-container-tertiary-border);
            background-color: var(--color-button-container-tertiary);
            color: var(--color-button-label-tertiary);
        }
        .btn-md, .btn-md:visited, .btn-md:focus {
            cursor: pointer;
            text-decoration-line: none;
        }
        .btn-md {
            height: min-content;
            min-height: 48px;
            border-radius: 24px;
            padding-top: 12px;
            padding-bottom: 12px;
            padding-left: 24px;
            padding-right: 24px;
            text-align: center;
            font-size: 16px;
            font-weight: 600;
        }
        /* join now btn end */
 /* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .15);
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}       
/* index navbar index end */

/* start header */
.center_Vertical{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}
.header_Vector_Img{
    width: 63%;
    display: block;
    margin-left: auto;
}
/* end header */
.article_img{
    display: inline-block
}
.div_img_parent{
   
    
}
.img_3{
    position: absolute;
    top:14px;
}